<!-- templates/home.html -->
{% load static%}

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'static/css/home.css' %}">

  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>


{% block content %}
{% if user.is_authenticated %}

  <h1> Corona virus status in Finland</h1>

  Welcome {{ user.username }}!

  <p> This information is based on open data provided by Helsingin Sanomat. The data is updated
    when new information of the cases appear.  </p>
    <P>
      DISCLAIMER: This data includes only <strong>confirmed</strong> corona virus cases. The real numbers are very likely bigger.
    </P>


  <table class="table table-striped">
    <tr>
      <th> District</th>
      <th>Confirmed</th>
      <th>Deaths</th>
      <th>Recovered</th>
    </tr>
    
    {% for district, list in coronadata.items %}
    <tr>
    <td>{{district}}  </td>

    {% for l in list %}

    <td> {{ l }}</td>
    {% endfor %}
    </tr>

    {% endfor %}
    <tr>
      <td> All </td>
      <td> {{ all_confirmed }}</td>
      <td> {{ all_deaths }} </td>
      <td> {{all_recovered }} </td>
    </tr>
      
     
    
 
  </table>


  <!--<p><strong>Title: </strong> {{ title }}</p>
  # <p><strong>Description: </strong> {{ description }}</p> -->
  <p><a href="{% url 'logout' %}">logout</a></p>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<p class="license">
  Copyright 2020 Helsingin Sanomat

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>
{% endblock %}
</body>
</html>