<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>


{% block content %}
{% if user.is_authenticated %}

  Hi {{ user.username }}!

  <p> jos näät tämän olet hyvin viisas</p>
  <!--<p><strong>Title: </strong> {{ title }}</p>
  # <p><strong>Description: </strong> {{ description }}</p> -->
  <p><a href="{% url 'logout' %}">logout</a></p>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
</body>